.nav_bar{
    background-color: tomato;
    border-radius: 100px 5px 5px 5px;
}
.nav_bar ul{
    list-style: none;
    text-align: center;
}
.nav_bar ul li{
    display: inline-block;
    padding: 0 20px;
    line-height: 100px;
    border: 1px solid green;
    border-radius: 20px;
    
}
.nav_bar ul li a{
    padding: 10px 25px;
    background-color: rgb(245, 126, 105);
    border: 2px solid rgb(253, 72, 40);
    border-radius: 20px;
    color: thistle;
    text-decoration: none;
    text-transform: uppercase;
}


.main_area{
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}
.box1{
    background-color: red;
    width: 49%;
    border-radius: 10px;
    padding-left: 10px;
    float: left;
    
}
.box2{
    background-color: red;
    width: 48%;
    border-radius: 10px;
    padding-left: 10px;
    float: left;
    margin-left: 5px;
    
}
.clr{
    clear: both;
}

.footer_are{
    background-color: tomato;
    color: thistle;
    line-height: 100px;
    border-radius: 30px;
    border-radius: 5px 5px 100px 5px;
}
.footer_are p{
    text-align: center;
    font-weight: 800;
}
